* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: #ffff;
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}

.nav {
  margin: 0%;
  /* position: fixed; */
  display: flex;
  box-shadow: 1px solid gray;
  height: 80px;
}

.nav ul {
  text-decoration: none;
  display: flex;
}
.nav ul li {
  list-style: none;
  justify-content: space-between;
}

.nav a {
  text-decoration: none;
  text-align: start;
}
.nav ul li a {
  display: block;
  text-decoration: none;
  margin: 30px 18px;
  font-size: 18px;
  font-weight: 700;
  color: #696161;
  align-items: center;
  cursor: pointer;
}
.nav a:hover {
  color: #4cb4be;
}
#m-logo {
  margin-top: 20px;
  margin-left: 90px;
  margin-right: 150px;
  width: 100px;
  height: 90px;

  align-items: center;
}
.nav img {
  width: 100%;
}
.creative {
  margin: 0%;
  background: #f5f8f9;
}
.creative-column {
  /* margin-top: 80px; */
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.cerative-left {
  width: 50%;
}
.img-container {
}
.img-container img {
  margin-left: 20%;
  margin-top: 80px;
  width: 550px;
}
.creative-right {
  width: 50%;
}
.right-content {
  margin-left: 10%;
}
.right-content h3 {
  margin-top: 280px;
  font-weight: 700;
  font-size: 60px;
  color: #405363;
  margin-bottom: 15px;
}
.right-content span {
  color: #4cb4be;
}
.right-content p {
  color: #4a5d6c;
  font-weight: 400;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 10px;
}
.right-btn button {
  background: #f5f8f9;

  margin-left: 1%;
  padding: 12px 30px;
  border-radius: 5px;
  font-size: 18px;
  border: 1px solid black;
}
/* section 2 */

.creative-option {
  margin: 0%;
  background: #20313e;
}
.option-column {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.option-left {
  width: 40%;
}
.option-right {
  width: 50%;
}
.img-option {
}
.img-option img {
  margin-top: -170px;
  width: 600px;
}
.creative-right {
  width: 50%;
}
.left-content {
  margin-left: 20%;
  margin-top: 50px;
}
.left-content h3 {
  margin-top: 20px;

  font-weight: 500;
  font-size: 45px;
  color: #405363;
  margin-bottom: 10px;
  color: #ffff;
  padding: 10px;
}
.left-content span {
  font-size: 25px;
  font-weight: 500;
  margin-top: 30px;
  color: #f8bd41;
  padding: 10px;
}
.left-content p {
  color: #4a5d6c;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 10px;
  color: #ffff;
}
.option-cards {
  margin-left: 5%;
}
.option-head h2 {
  margin-top: 60px;
  color: #ffff;
  font-weight: 800;
  font-size: 50px;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
}
.option-head {
}
.all-cards {
  margin-left: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.all-cards {
}
.all-cards {
}
.all-cards {
}
.cards-details {
  margin-top: 25px;
  margin-bottom: 30px;
}
.card-head h3 {
  font-weight: 600;
  font-size: 30px;
  color: #ccc;
  margin-bottom: 20px;
}
.card-img {
  margin-bottom: 15px;
}
.cards-content {
  margin-bottom: 15px;
}
.cards-content span {
  font-weight: 400;
  font-size: 18px;
  color: white;
  margin-bottom: 15px;
  margin-left: 1%;
}
.card-btn {
}
.card-btn button {
  margin-top: 25px;
  padding: 12px;
  width: 80%;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 20px;
  align-items: center;
  border: none;
  border-radius: 5px;
}
.meet-team-container {
  background-color: #ffffff;
}
.meet-head {
  margin-left: 20%;
  margin-right: 20%;
}
.meet-head h2 {
  font-weight: 700;
  font-size: 60px;
  align-items: center;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 10px;
}
.meet-head span {
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #827f7f;
}
.meet-category {
  margin-top: 20px;
  margin-left: 8%;
  margin-bottom: 30px;
}
.meet-category button {
  margin: -0.18%;
  padding: 15px 40px;
  font-weight: 400;
  font-size: 18px;
  border: none;
  color: #4f4d4d;
  border-right: 1px solid gray;
}
.meet-all-cards {
  width: 100%;
  margin-top: 30px;
  margin-left: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.meet-deails {
  width: 100%;
  display: flex;
}
.meet-card {
  margin: 1%;
  /* border: 1px solid gray; */
  box-shadow: 0 4px 8px rgba(125, 120, 120, 0.2);
}
.meet-img {
  padding: 30px 20px 0px 20px;
}
.meet-img img {
  width: 220px;
  height: 200px;
}
.meet-content {
  padding: 20px;
  align-items: center;
  text-align: center;
}
.meet-name {
  font-weight: 400;
  font-size: 26px;
  margin-bottom: 8px;
  color: #4f4d4d;
}
.meet-depratment {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 10px;
  color: #4f4d4d;
}
.fa-phone,
.fa-envelope {
  color: #4f4d4d;

  font-weight: 400;
  font-size: 20px;
  margin: 10px;
}
.video-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}
video {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}
/* wrap section  */
.wrap-container {
  margin: 0px;
  padding: 0%;
  box-sizing: content-box;
  background-color: #f5f8f9;
  overflow: hidden;
}

.warp-main-head {
  padding-top: 40px;
  margin-left: 20%;
  margin-right: 20%;
}

.warp-main-head h2 {
  color: #405363;
  font-weight: 700;
  font-size: 60px;
  align-items: center;
  text-align: center;
}
.warp-main-head span {
  color: #405363;
  display: flex;
  font-weight: 400;
  font-size: 18px;
  align-items: center;
  text-align: center;
}

.wrap-all-cards {
  margin-left: 8%;
}
.wrap-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.card-details {
  border: 1px solid #ccc;
}
.wrap-img {
}
.wrao-content p {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}
.wrao-content span {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #857e7e;
  margin-left: 30%;
}
.fa-download {
  font-weight: 400;
  font-size: 18px;
  margin-left: 3%;
  color: #857e7e;
  margin-bottom: 20px;
}
.footer-link {
  background-color: #20313e;
  color: #ffff;
}
.footer-main {
  display: flex;
}
.footer-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 3%;
}

.useful-head p {
  margin-top: 20px;
  margin-left: 8%;
  font-weight: 500;
  font-size: 22px;
}
.footer-column ul {
  list-style: none;
}

.footer-column ul li a {
  display: block;
  text-decoration: none;
  margin: 30px 18px;
  font-size: 16px;
  font-weight: 400;
  color: #ffff;
  align-items: center;
  cursor: pointer;
}
.footer-logo {
  width: 100%;
}
.footer-logo img {
  width: 150px;
  height: auto;
}
.contact-container {
  width: 100%;
  border: 1px sold gray;
  display: flex;
}
.contact-container {
  width: 40%;
  display: flex;
  align-items: center;
}
.contact-info {
  width: 30%;
}
.contact-form {
}

/* from */
.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.left-side {
  width: 45%;
  padding: 20px;
}
.fa-envelope .fa-phone {
  font-weight: 500;
  font-size: 20px;
}
.left-side i {
  color: #e74768;
}
.left-side h5 {
  color: #405363;
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 25px;
}
.left-side span {
  color: #405394;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 15px;
}
.right-side {
  width: 55%;
  padding: 20px;
}
.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.input-row input {
  width: 48%;
  font-weight: 400;
  font-size: 20px;
  background-color: #f7f7ff;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.textarea-row {
  margin-bottom: 30px;
}
.textarea-row textarea {
  width: 100%;
  height: 100px;
  background-color: #f7f7ff;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-weight: 400;
  font-size: 20px;
}
.submit-row {
  /* text-align: center; */
}
.submit-row button {
  padding: 15px 30px;
  background-color: #f0f0f0;
  color: rgb(121, 112, 112);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
  color: black;
}
.submit-row button:hover {
  background-color: #4cb4be;
}
